@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";
@import "../node_modules/@bryntum/calendar/calendar.stockholm.css";

:root {
  font-family: Poppins, "Open Sans", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

#container {
  margin         : 0;
  display        : flex;
  flex-direction : column;
  height         : 100vh;
  font-size      : 14px;
}

.b-event-body{
  max-width:calc(100% - 20px);
}

.b-cal-invitees{
  position:absolute;
  top:3px;
  right:3px;
  font-size:0.8em;
}

.is-sunday{
  background-color:rgba(255, 200, 200, 0.4) !important;
}

.b-allday .b-event-image{
  display:none;
}
.b-allday .b-cal-invitees{
  position:static;
  margin-inline-start:0.3em;
}

.b-event-image{
  max-width:100%;
  padding:0.2em 0;
}

.b-dayview-day-detail .b-cal-event-desc{
  display:flex;
  height:100%;
  flex-direction:column;
  justify-content:space-between;
}

.b-dayview-day-container .b-calendar-cell .b-cal-event-wrap{
  border-radius:5px;
}
.b-dayview-day-container .b-calendar-cell .b-cal-event{
  border:1px solid var(--cal-event-color);
  border-radius:5px;
  margin-bottom:0.5px;
}
.b-dayview-day-container .b-calendar-cell .b-cal-event .b-cal-event-body{
  margin:0;
}

[data-group=multiDays].b-checked i::before{
  content:"\f00c";
}
[data-group=multiDays]:not(.b-checked) i::before{
  content:" ";
}

.b-week-number-cell{
  justify-content:center;
  align-items:center;
}
.b-week-number-cell .b-week-name{
  writing-mode:tb;
  display:flex;
  align-items:center;
  transform:rotateZ(180deg);
}

.b-calendar .b-show-week-cb-label{
  font-size:1.2em;
}

.b-calendarrow .b-highlight-day{
  font-size:120%;
}

.hackathon-dayoff .b-cal-event .b-cal-event-icon:before{
  content:"\f118";
  font-size:1em;
  color:yellow;
  webkit-font-smoothing: antialiased;
  z-index:1;
  text-shadow:0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
  margin-inline-start:0.5em;
}

.b-cal-agenda-event-row .b-cal-event-wrap.b-with-image .b-cal-event{
  align-items:flex-start;
}
.b-cal-agenda-event-row .b-cal-event-wrap.b-with-image .b-cal-event .b-cal-event-icon{
  display:block;
}
.b-cal-agenda-event-row .b-cal-event-wrap.b-with-image .b-cal-event-desc{
  align-items:flex-start;
}
.b-cal-agenda-event-row .b-cal-event-wrap.b-with-image .b-cal-event-body .b-event-name{
  margin:0 0 0.3em 0;
}

:is(.b-daycellrenderer, .b-overflowpopup) .b-cal-event-bar-container .b-cal-event-wrap:not(.b-continues-past, .b-continues-future){
  padding-inline:4px 5px;
}
:is(.b-daycellrenderer, .b-overflowpopup) .b-cal-event-bar-container .b-cal-event-wrap:not(.b-continues-past, .b-continues-future) .b-cal-event{
  border-left:0.3em solid var(--cal-event-color);
  background-color:color-mix(in srgb, var(--cal-event-color), #fff 75%);
  border-radius:0;
}
:is(.b-daycellrenderer, .b-overflowpopup) .b-cal-event-bar-container .b-cal-event-wrap:not(.b-continues-past, .b-continues-future) .b-cal-event .b-cal-event-desc{
  color:#111;
}

.b-fa-birthday-cake{
  background:#2667c8;
  padding:0.5em;
  border-radius:50%;
  color:#fff;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

.b-sidebar .b-calendar-cell{
  transition:width 0.3s;
}
.b-sidebar .b-calendar-cell .b-datepicker-cell-inner{
  transition:margin-bottom 0.3s;
}
.b-sidebar .b-datepicker .b-range-start, .b-sidebar .b-datepicker .b-in-range, .b-sidebar .b-datepicker .b-range-end{
  cursor:pointer;
  border:1px solid #3183fe;
  background-color:var(--datepicker-selected-range-background-color);
}
.b-sidebar .b-datepicker .b-range-start .b-datepicker-cell-inner, .b-sidebar .b-datepicker .b-in-range .b-datepicker-cell-inner, .b-sidebar .b-datepicker .b-range-end .b-datepicker-cell-inner{
  border:0 none;
  background-color:initial !important;
  color:initial !important;
}
.b-sidebar .b-datepicker .b-range-start .b-datepicker-cell-inner::before, .b-sidebar .b-datepicker .b-range-start .b-datepicker-cell-inner::after, .b-sidebar .b-datepicker .b-in-range .b-datepicker-cell-inner::before, .b-sidebar .b-datepicker .b-in-range .b-datepicker-cell-inner::after, .b-sidebar .b-datepicker .b-range-end .b-datepicker-cell-inner::before, .b-sidebar .b-datepicker .b-range-end .b-datepicker-cell-inner::after{
  content:none !important;
}
.b-sidebar .b-datepicker .b-range-start::before, .b-sidebar .b-datepicker .b-in-range::before, .b-sidebar .b-datepicker .b-range-end::before{
  content:none !important;
}
.b-sidebar .b-datepicker .b-range-start:not(:last-child), .b-sidebar .b-datepicker .b-in-range:not(:last-child){
  border-inline-end:0 none;
}
.b-sidebar .b-datepicker .b-range-end:not(:first-child), .b-sidebar .b-datepicker .b-in-range:not(:first-child){
  border-inline-start:0 none;
}

